<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235951305150-l9htm7qgvr4stu53bihteseh25j1erd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235951305150-l9htm7qgvr4stu53bihteseh25j1erd0</string>
	<key>API_KEY</key>
	<string>AIzaSyCrnix3o23HhW25BgGLIxf8ELpVsyotWBI</string>
	<key>GCM_SENDER_ID</key>
	<string>235951305150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.QuizEDU</string>
	<key>PROJECT_ID</key>
	<string>quizedu-eae05</string>
	<key>STORAGE_BUCKET</key>
	<string>quizedu-eae05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235951305150:ios:58806d19cf7701414c89ef</string>
</dict>
</plist>